---
import { Image } from "astro:assets"
import {
  getPictures,
  getTripRegionPictures,
  getTripPrevNextPictures,
} from "@src/lib/travels"
import Layout from "@src/layouts/Layout.astro"
import Gallery from "@src/components/Gallery/Gallery.astro"

export async function getStaticPaths() {
  return getPictures().map(({ trip, region, filename }) => {
    return { params: { trip, region, filename } }
  })
}

const { trip, region, filename } = Astro.params
const pictures = getTripRegionPictures(trip, region)
const currentPicture = pictures.filter(
  (picture) => picture.filename === filename,
)[0]
const { prev, next } = getTripPrevNextPictures(trip, filename)

// Note: not using import() directly here, because it would fail when building
//       so use import.meta.glob, which resolves the correct path
---

<Layout title={filename}>
  <Gallery {currentPicture} prevPicture={prev} nextPicture={next} />

  <ul class="flex flex-wrap justify-evenly">
    {
      pictures.map((picture) => (
        <li class="">
          <a
            href={`/travels/${picture.trip}/${picture.region}/${picture.filename}`}
          >
            <Image src={picture.import()} alt={picture.filename} width="200" />
          </a>
        </li>
      ))
    }
  </ul>
</Layout>
