---
import {
  getPictures,
  getTripRegionPictures,
  getTripPrevNextPictures,
  getRegionTitle,
} from "@src/lib/travels"
import Layout from "@src/layouts/Layout.astro"
import GalleryShow from "@src/components/Gallery/Show.astro"
import GalleryIndex from "@src/components/Gallery/Index.astro"

export async function getStaticPaths() {
  return getPictures().map(({ trip, region, filename }) => {
    return { params: { trip, region, filename } }
  })
}

const { trip, region, filename } = Astro.params
const title = "More from " + getRegionTitle(region)
const pictures = getTripRegionPictures(trip, region)
const currentPicture = pictures.filter(
  (picture) => picture.filename === filename,
)[0]
const { prev, next } = getTripPrevNextPictures(trip, filename)

// Note: not using import() directly here, because it would fail when building
//       so use import.meta.glob, which resolves the correct path
---

<Layout title={filename}>
  <GalleryShow {currentPicture} prevPicture={prev} nextPicture={next} />

  <div class="mt-12">
    <GalleryIndex {pictures} {title} />
  </div>
</Layout>
