---
import {
  getPictures,
  getTripRegionPictures,
  getTripPrevNextPictures,
} from "../../../../lib/travels"
import Layout from "../../../../layouts/Layout.astro"
import { Image } from "astro:assets"

export async function getStaticPaths() {
  return getPictures().map(({ trip, region, filename }) => {
    return { params: { trip, region, filename } }
  })
}

const { trip, region, filename } = Astro.params
const pictures = getTripRegionPictures(trip, region)
const picture = pictures.filter((picture) => picture.filename === filename)
const { prev, next } = getTripPrevNextPictures(trip, filename)

// Note: not using import() directly here, because it would fail when building
//       so use import.meta.glob, which resolves the correct path
---

<Layout title={filename}>
  <Image src={picture[0].import()} alt={filename} width="600" />

  <a href={`/travels/${prev.trip}/${prev.region}/${prev.filename}`}>
    <Image src={prev.import()} alt="" width="100" />
  </a>

  <a href={`/travels/${next.trip}/${next.region}/${next.filename}`}>
    <Image src={next.import()} alt="" width="100" />
  </a>

  <ul class="flex flex-wrap justify-evenly">
    {
      pictures.map((picture) => (
        <li class="">
          <a
            href={`/travels/${picture.trip}/${picture.region}/${picture.filename}`}
          >
            <Image src={picture.import()} alt={picture.filename} width="200" />
          </a>
        </li>
      ))
    }
  </ul>
</Layout>
