---
import {
  getPictures,
  getTripRegionPictures,
  getTripPrevNextPictures,
} from "@src/lib/travels"
import Layout from "@src/layouts/Layout.astro"
import { Image } from "astro:assets"
import { Icon } from "astro-icon/components"

export async function getStaticPaths() {
  return getPictures().map(({ trip, region, filename }) => {
    return { params: { trip, region, filename } }
  })
}

const { trip, region, filename } = Astro.params
const pictures = getTripRegionPictures(trip, region)
const picture = pictures.filter((picture) => picture.filename === filename)
const { prev, next } = getTripPrevNextPictures(trip, filename)

// Note: not using import() directly here, because it would fail when building
//       so use import.meta.glob, which resolves the correct path
---

<Layout title={filename}>
  <div class="flex justify-center py-1">
    <div
      class="inline-flex items-center justify-between flex-wrap lg:flex-nowrap"
    >
      <div class="bg-gray-200 border-4 rounded mx-8 my-4 lg:mx-4 shadow-xl">
        <Image
          src={picture[0].import()}
          alt={filename}
          width="1024"
          class="rounded"
        />
      </div>

      <a
        class="flex items-center group lg:-order-1"
        href={`/travels/${prev.trip}/${prev.region}/${prev.filename}`}
      >
        <span
          class:list={[
            "bg-gray-200 text-gray-500 translate-x-5 rounded-full",
            "group-hover:translate-x-4 group-hover:text-gray-950 transition-all",
          ]}
        >
          <Icon name="solar:round-arrow-left-bold" size={32} />
        </span>

        <div class="rounded border-4 border-gray-200">
          <Image src={prev.import()} alt="" width="200" class="rounded" />
        </div>
      </a>

      <a
        class="flex items-center group"
        href={`/travels/${next.trip}/${next.region}/${next.filename}`}
      >
        <div class="rounded border-4 border-gray-200">
          <Image src={next.import()} alt="" width="200" />
        </div>

        <span
          class:list={[
            "bg-gray-200 text-gray-500 -translate-x-5 rounded-full",
            "group-hover:-translate-x-4 group-hover:text-gray-950 transition-all",
          ]}
        >
          <Icon name="solar:round-arrow-right-bold" size={32} />
        </span>
      </a>
    </div>
  </div>

  <ul class="flex flex-wrap justify-evenly">
    {
      pictures.map((picture) => (
        <li class="">
          <a
            href={`/travels/${picture.trip}/${picture.region}/${picture.filename}`}
          >
            <Image src={picture.import()} alt={picture.filename} width="200" />
          </a>
        </li>
      ))
    }
  </ul>
</Layout>
