---
import { Image } from "astro:assets";
import IconLink from "../IconLink.astro";
import type { SubAlbum } from "@src/env";

interface Props {
  albumTitle: string;
  subAlbum: SubAlbum;
  showBackLink?: boolean;
}

const { albumTitle, subAlbum, showBackLink = false } = Astro.props as Props;
const nameSplit = subAlbum.name.split("_");
let title = nameSplit[0];
let subTitle = nameSplit.length !== 1 && nameSplit[1];
---

<div class="flex flex-wrap items-center px-2 sm:px-0">
  <div class="pb-4 w-full sm:w-2/5 text-center sm:text-left">
    <h2 class:list={["text-2xl lg:text-3xl"]}>
      {title}
      {subTitle && <span class="opacity-70 text-xl">{subTitle}</span>}
    </h2>
  </div>

  {
    showBackLink && (
      <div class="w-full sm:w-3/5 text-center sm:text-right grow mb-6">
        <IconLink
          href={`/albums/${subAlbum?.photos[0]?.album}`}
          title={`Photos in '${albumTitle}'`}
          icon="solar:album-bold-duotone"
        />
      </div>
    )
  }
</div>

<ul
  class="grid grid-cols-2 sm:grid-cols-4 lg:grid-cols-5 gap-1 px-1 sm:px-0 pb-8"
>
  {
    subAlbum.photos.map((photo) => (
      <li>
        <a
          href={`/albums/${photo.album}/${photo.name}#photo`}
          class:list={[
            "block rounded-sm p-1 transition-all",
            "bg-light-secondary dark:bg-dark-secondary",
            "hover:bg-light-accent dark:hover:bg-dark-accent",
          ]}
        >
          <Image
            src={photo.import()}
            alt={photo.name}
            quality={70}
            widths={[300, 240]}
            sizes={`
              (max-width: 640px) 300px,
              240px`}
            class="rounded-sm"
          />
        </a>
      </li>
    ))
  }
</ul>
