---
import { Image } from "astro:assets"

const { pictures } = Astro.props
---

<ul class="flex flex-wrap justify-between px-4 lg:px-8">
  {
    pictures.map((picture: Picture) => (
      <li class="">
        <a
          href={`/travels/${picture.trip}/${picture.region}/${picture.filename}`}
          class:list={[
            "inline-block rounded border-4 transition-all",
            "bg-stone-200 border-stone-200",
            "dark:bg-stone-900 dark:border-stone-900",
            "hover:bg-orange-500 hover:border-orange-500",
            "dark:hover:bg-orange-500 dark:hover:border-orange-500",
          ]}
        >
          <Image
            src={picture.import()}
            alt={picture.filename}
            width="200"
            class="rounded"
          />
        </a>
      </li>
    ))
  }
</ul>
