---
import { Image } from "astro:assets";
import { getPreviousPhoto, getNextPhoto } from "@src/lib/albums.ts";
import PrevNextPhoto from "./PrevNextPhoto.astro";
import type { Photo } from "@src/env";

interface Props {
  photo: Photo;
}

const { photo } = Astro.props as Props;
const previousPhoto = getPreviousPhoto(photo);
const nextPhoto = getNextPhoto(photo);
---

<div
  id="photo"
  class="px-2 rounded-sm bg-light-secondary dark:bg-dark-secondary"
>
  <div class="lg:relative pt-2 lg:pb-2">
    <div class="w-full text-center z-20">
      <Image
        src={photo.import()}
        alt={photo.name}
        width={1280}
        class="rounded-sm inline-block"
      />
    </div>

    <div
      class:list={[
        "flex z-30",
        "*:w-1/2 *:mt-2 *:lg:w-auto *:lg:absolute *:lg:top-2",
      ]}
    >
      <div class="lg:left-2">
        {previousPhoto && <PrevNextPhoto photo={previousPhoto} />}
      </div>

      <div class="text-right lg:right-2" ]}>
        {nextPhoto && <PrevNextPhoto photo={nextPhoto} isNext={true} />}
      </div>
    </div>
  </div>
</div>
