---
import { Image } from "astro:assets";
import { getPreviousPhoto, getNextPhoto } from "@src/lib/albums.ts";
import PrevNextPhoto from "./PrevNextPhoto.astro";
import type { Photo } from "@src/env";

interface Props {
  photo: Photo;
}

const { photo } = Astro.props as Props;
const previousPhoto = getPreviousPhoto(photo);
const nextPhoto = getNextPhoto(photo);
---

<div
  id="photo"
  class:list={[
    "mx-2 sm:mx-0 p-2 rounded-sm",
    "bg-light-secondary dark:bg-dark-secondary",
  ]}
>
  <div class="flex flex-wrap items-center justify-center">
    <div class="w-full text-center">
      <Image
        src={photo.import()}
        alt={photo.name}
        width={1280}
        class="rounded-sm inline-block"
      />
    </div>

    <div
      class:list={[
        "w-1/2 mt-2 lg:mt-0 lg:h-0",
        "-translate-x-4 lg:-translate-y-157",
      ]}
    >
      {previousPhoto && <PrevNextPhoto photo={previousPhoto} />}
    </div>

    <div
      class:list={[
        "w-1/2 mt-2 lg:mt-0 text-right lg:h-0",
        "translate-x-4 lg:-translate-y-157",
      ]}
    >
      {nextPhoto && <PrevNextPhoto photo={nextPhoto} isNext={true} />}
    </div>
  </div>
</div>
