---
import "@src/assets/css/global.css";
import NavBar from "@src/components/NavBar/NavBar.astro";
import Footer from "@src/components/Footer/Footer.astro";
import type { Link } from "@src/env";

interface Props {
  title: string;
}

const { title = "" } = Astro.props;

const topLinks: Link[] = [
  { title: "Posts", href: "/posts", icon: "solar:book-bookmark-bold-duotone" },
  { title: "Albums", href: "/albums", icon: "solar:album-bold-duotone" },
  { title: "Now", href: "/now", icon: "solar:flame-bold-duotone" },
];

const socialLinks: Link[] = [
  {
    title: "E-Mail",
    href: "mailto:contact@mustardamus.com",
    icon: "cib:mail-ru",
  },
  {
    title: "GitHub",
    href: "https://github.com/mustardamus",
    icon: "cib:github",
  },
  {
    title: "Twitter",
    href: "https://twitter.com/mustardamus",
    icon: "cib:twitter",
  },
  {
    title: "LinkedIn",
    href: "https://www.linkedin.com/in/sebastian-senf-9b244b330",
    icon: "cib:linkedin-in",
  },
  {
    title: "Instagram",
    href: "https://instagram.com/find.balance.rest",
    icon: "cib:instagram",
  },
];

const techLinks: Link[] = [
  {
    title: "Source",
    href: "https://github.com/mustardamus/mustardamus.com",
    icon: "lineicons:git",
  },
  {
    title: "Astro",
    href: "https://astro.build",
    icon: "lineicons:astro",
  },
  {
    title: "TypeScript",
    href: "https://www.typescriptlang.org/",
    icon: "lineicons:typescript",
  },
  {
    title: "TailwindCSS",
    href: "https://tailwindcss.com/",
    icon: "lineicons:tailwindcss",
  },
  {
    title: "GitHub",
    href: "https://github.com/",
    icon: "lineicons:github",
  },
  {
    title: "Debian",
    href: "https://www.debian.org/",
    icon: "simple-icons:debian",
  },
  {
    title: "Helix",
    href: "https://helix-editor.com/",
    icon: "simple-icons:helix",
  },
];
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />

    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>{title} - Mustardamus</title>
  </head>

  <body
    id="top"
    class:list={[
      "container mx-auto md:max-w-6xl md:px-4 lg:px-0",
      "bg-light-primary dark:bg-dark-primary",
      "text-dark-primary dark:text-light-primary",
      "overflow-x-hidden",
    ]}
  >
    <NavBar {topLinks} {socialLinks} />

    <main class="my-10 sm:my-18 lg:my-20">
      <slot />
    </main>

    <Footer {techLinks} {topLinks} />
  </body>
</html>
